/user-service/node_modules
/order-service/node_modules
/product-service/node_modules
/gateway/node_modules
/user-service/uploads
/node_modules
.env
user-service/.env
order-service/.env
product-service/.env
gateway/.env
